.features {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
}
