.header {
  font-size: 24px;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  padding: 20px 0;

  &__title{
    color: var(--text);
  }
  &__img{
    color: var(--text);
  }
  &__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 15px;
    img { width: 60px; }

  }

  &__nav {
    display: flex;
    gap: 40px;

    a { text-decoration: none; color: inherit; }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 25px;

    .header__icons {
      display: flex;
      gap: 15px;

      img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #fff;
        padding: 6px;
      }
    }
  }
}

/* Adaptive */
/* Desktop 1920–1280 */
@media (min-width: 1280px) {
  .header__container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 5vw, 60px);
  }
}

/* Tablet 1279–768 */
@media (max-width: 1279px) and (min-width: 768px) {
  .header__container {
    padding-right: 100px;
    gap: 40px;
  }

  .header__nav {
    display: flex;
    gap: clamp(20px, 4vw, 40px);
  }

  .header__contacts .header__phone {
    display: none;
  }

  .header__icons img {
    width: 34px;
    height: 34px;
  }

  .header__burger {
    display: none;
  }
}

/* Mobile 767–320 */
@media (max-width: 800px) {
  .header__title {
    display: none;
  }
  .theme-toggle {
    display: none;
  }
  .header__contacts .header__phone {
    display: none;
  }
  .header__icons img {
    width: 30px;
    height: 30px;
    padding: 4px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header__container {
    gap: clamp(10px, 5vw, 30px);
  }
}

/* Burger */
.burger {
  width: 40px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    background: #bbb;
    border-radius: 2px;
  }
}

.menu-toggle {
  display: none;
}

/* Бургер-кнопка */
.menu-btn {
  width: 32px;
  height: 28px;
  position: relative;
  display: none;
  cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--text);
  border-radius: 4px;
  transition: 0.3s;
}

/* Центральная линия */
.menu-btn span {
  top: 50%;
  transform: translateY(-50%);
}

/* Верхняя */
.menu-btn span::before {
  top: -10px;
}

/* Нижняя */
.menu-btn span::after {
  top: 10px;
}

/* ——— Анимация в крест ——— */
.menu-toggle:checked + .menu-btn span {
  background: transparent;
}

.menu-toggle:checked + .menu-btn span::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle:checked + .menu-btn span::after {
  transform: rotate(-45deg);
  top: 0;
}

/* Скрываем checkbox */
.menu-toggle {
  display: none;
}

/* Модальное меню */
.menu-modal {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  width: 180px;
  padding: 20px;
  background-color: var(--bg);
  color: var(--text);
  //background: white;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);

  font-size: 20px;
  gap: 20px;
  flex-direction: column;
  z-index: 9999;
}

/* Показываем меню при активности чекбокса */
.menu-toggle:checked ~ .menu-modal {
  display: flex;
}


/* Показываем на мобилках */
@media (max-width: 800px) {
  .menu-btn {
    display: block;
  }

  .menu-toggle:checked ~ .menu-modal {
    display: flex;
  }
}
.theme-toggle{
  height: 40px;
  width: 40px;
}