.next{
  weight: 1440px;
  height: 240px;
  background-image: url("../images/str2_1_1.webp");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
  color: #333;
  &__img {
      margin-top: 20px;
  }
  &__title {
    font-size: 64px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &__home {
    font-size: 21px;
    color: black;
    a {
      color: black;
      text-decoration: none;
      font-weight: 480;
    }
  }
}