.card__hover{
  position: relative;
  top: 140px;
  margin-left: 48px;
  opacity: 0;
  &__btn{
    width: 200px;
    height: 50px;
    background: #fff;
    color: #E89F71;
    border: none;
    font-weight: 600;
    font-size: 20px;
    &:hover {
      background-color: #eee;
    }
  }
}
.card__actions{
  position: relative;
  top: 160px;
  gap: 20px;
  display: flex;
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  opacity: 0;
  color: #FFF;
  &__txt{
    display: flex;
    &:hover {
        color: #ddd;
    }
  }

}
.card__up{
  margin-top: -64px;
  position: relative;
  top: 100px;
  z-index: 1;
}
.card{
  &:hover {
    .card__telo {
      filter: brightness(0.45);
    }
    .card__hover{
      opacity: 1;
    }
    .card__actions{
      opacity: 1;
    }
  }
  height: 500px;
  &__img{
    display: flex;
    &__alt{
      width: 285px;
      height: 300px;
    }
    &__sale{
      margin-left: -70px;
      margin-top: 16px;
      width: 50px;
      height: 50px;
    }
  }
  &__body{
    margin-top: -10px;
    width: 285px;
    height: 160px;
    background-color: #F4F5F7;
    &__h1{
      position: relative;
      top: 24px;
      left: 16px;
      font-weight: 600;
      font-size: 28px;
      color: #000;
      height: 20px
    }
    &__h2{
      position: relative;
      top: 16px;
      left: 16px;
      font-weight: 400;
      font-size: 20px;
      color: #898989;
    }
    &__price{
        display: flex;
        position: relative;
        top: 12px;
        left: 16px;
      &__osnova{
        font-weight: 600;
        font-size: 20px;
        color: #000;
        height: 20px
      }
      &__sale{
        padding-left: 20px;
        font-weight: 400;
        font-size: 18px;
        text-decoration: line-through;
        color: #898989;
        height: 20px
      }
    }
  }

}
.parent-block {
  position: relative;
  width: 200px;
  height: 200px;
  background: #eee;
  padding: 20px;
}

.hidden-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  align-items: center;
  justify-content: center;
}

.parent-block:hover .hidden-block {
  display: flex;
}