:root {
  --bg: #EEEEEE;
  --text: #000000;
  --teni:  rgba(255, 255, 255, 0);
  --teni1: rgba(255, 255, 255, 0.01);
  --teni2: rgba(255, 255, 255, 0.05);
  --teni3: rgba(255, 255, 255, 0.09);
  --teni4: rgba(255, 255, 255, 0.10);

}

/* 🌙 Тёмная тема */
.dark {
  --bg: #2E2E2E;
  --text: #ffffff;
  --teni: rgba(0, 0, 0, 0);
  --teni1: rgba(0, 0, 0, 0.01);
  --teni2: rgba(0, 0, 0, 0.05);
  --teni3: rgba(0, 0, 0, 0.09);
  --teni4: rgba(0, 0, 0, 0.10);
}
