<div class="footer__rect1"></div>
<div class="footer">
    <div class="footer__1st">
        <div class="footer__1st__furniro">Furniro.</div>
        <div class="footer__1st__txt">400 University Drive Suite 200 Coral <br>Gables,<br>
            FL 33134 USA</div>
    </div>
    <div class="footer__2st">
        <div class="footer__2st__links">Links</div>
        <div>Home</div>
        <div>Shop</div>
        <div>About</div>
        <div>Contact</div>
    </div>
    <div class="footer__3st">
        <div class="footer__3st__help">Help</div>
        <div>Payment Options</div>
        <div>Returns</div>
        <div>Privacy Policies</div>
    </div>
    <div class="footer__4st">
        <div class="footer__4st__txt">Newsletter</div>
        <form class="footer__4st__form">
            <div class="footer__4st__form__inp">
                <input class="footer__4st__form__inp__input" placeholder="Enter Your Email Address">
                <div class="footer__4st__form__inp__rect1"></div>
            </div>
            <div class="footer_4st__form__btn">
                <button class="footer__4st__form__btn__but">SUBSCRIBE</button>
                <div class="footer__4st__form__btn__rect2"></div>
            </div>
        </form>
    </div>
</div>
<div class="footer__rect"></div>
<div class="footer__txt">2023 furino. All rights reverved</div>