<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="./index.html"><img src="./assets/images/logo.svg" alt="Резонанс Миров" class="header__img"></a>
            <a href="./index.html"><span class="header__title">Резонанс Миров</span></a>
        </div>
        <nav class="header__nav">
            <a href="./index5.html">О нас</a>
            <a href="./index5.html">Отзывы</a>
            <a href="./index2.html">Контакты</a>
        </nav>
        <div class="header__contacts">
            <span class="header__phone">+7(996) 829-12-28</span>
            <div class="header__icons">
                <a href="./index5.html"><img src="./assets/images/img_02.svg" alt="VK" class="header__navigator__img"></a>
                <a href="./index5.html"><img src="./assets/images/img_03.svg" alt="MAX"  class="header__navigator__img"></a>
                <a href="./index6.html"><img src="./assets/images/img_04.svg" alt="Telegram" class="header__navigator__img"></a>
                <a href="./index6.html"><img src="./assets/images/img_05.svg" alt="Theme" class="theme-toggle" class="header__navigator__img"></a>
            </div>
        </div>
        <button class="burger">
            <span></span><span></span><span></span>
        </button>
    </div>
</header>


