// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

 //==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/footer';
@use 'components/card';
@use 'components/header';
@use 'components/kartochki';
@use 'components/homenext';
@use 'components/str2';
@use 'components/about';
@use 'components/babout';
@use 'components/hero';
@use 'components/feature-card';
@use 'components/features';
@use 'components/albums';
@use 'components/album-card';
@use 'components/reviews';
@use 'components/contact';
@use 'components/modal';
@use 'components/form';
@use 'components/bcard';
@use "base/theme";


body {
  background-color: var(--bg);
  margin: 0 auto;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
  width: 0;
}

